<h1 class="display-4 text-center">New Category</h1>
    <hr>
<div class="row">
  <div class="col-md-12">
<form [formGroup]="createdForm" autocomplete="off" (submit)="onCreateSubmit()" novalidate>

        <div class="form-group">
          <div class="input-group">
            <label class="col-sm-2 col-form-label">Sort Order:</label>
            <input name="SortOrder" formControlName="SortOrder" class="form-control" type="number" placeholder="Sort Order" (blur)="logValidationErrors()">
          </div>
          <span class="help-block" *ngIf="formErrors.SortOrder">
            {{formErrors.SortOrder}}
          </span>
        </div>
      
        <div class="form-group" [ngClass]="{'has-error':formErrors.IsShowOnHome}">
          <div class="input-group">
            <label class="col-sm-2 col-form-label">
                
              Show on home: </label>
            
              <input name="IsShowOnHome" formControlName="IsShowOnHome" type="checkbox"
              (blur)="logValidationErrors()">
      
          </div>
        </div>
      
        <div class="form-group">
          <div class="input-group">
            <label class="col-sm-2 col-form-label">Parent category:</label>
            <!-- <input name="Stock" formControlName="Stock" type="number" class="form-control" placeholder="Stock" (blur)="logValidationErrors()"> -->
      
            <select class="form-control col-sm-2" formControlName="ParentId" [value]="0">
              <option [value]="0">-- select parent category --</option>  
              <option *ngFor="let category of this.service.list" [value]="category.Id">{{category.Name}}</option>
              </select>
          </div>
         
        </div>

        <div class="form-group">
            <div class="input-group">
              <label class="col-sm-2 col-form-label">Status:</label>
              <!-- <input name="Stock" formControlName="Stock" type="number" class="form-control" placeholder="Stock" (blur)="logValidationErrors()"> -->
        
              <select class="form-control col-sm-2" formControlName="Status">
                  <option [value]=1>Active</option>  
                  <option [value]=0>Inactive</option> 
                </select>
            </div>
           
          </div>

          <div class="form-group" [ngClass]="{'has-error':formErrors.Name}">
            <div class="input-group">
              <label class="col-sm-2 col-form-label">Name:</label>
              <input name="Name" formControlName="Name" class="form-control" placeholder="Name" (blur)="logValidationErrors()">
      
            </div>
            <span class="help-block" *ngIf="formErrors.Name">
              {{formErrors.Name}}
            </span>
          </div>
      
          

        <div class="form-group" >
            <div class="input-group">
              <label class="col-sm-2 col-form-label">Seo Alias:</label>
              <input name="SeoAlias" formControlName="SeoAlias" class="form-control" placeholder="SeoAlias" (blur)="logValidationErrors()">
      
            </div>
            <span class="help-block" *ngIf="formErrors.SeoAlias">
              {{formErrors.SeoAlias}}
              
            </span>
          </div>
      
        <div class="form-group">
          <div class="input-group">
            <label class="col-sm-2 col-form-label">Seo Description:</label>
            <input name="SeoDescription" formControlName="SeoDescription" class="form-control" placeholder="Description">
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="input-group">
            <label class="col-sm-2 col-form-label">Details:</label>
            <input name="Details" formControlName="Details" class="form-control" placeholder="Details">
          </div>
        </div> -->

        <div class="form-group">
          <div class="input-group">
            <label class="col-sm-2 col-form-label">Seo Title:</label>
            <input name="SeoTitle" formControlName="SeoTitle" class="form-control" placeholder="SeoTitle">
          </div>
        </div>
      
        <div class="form-group">
          <div class="input-group">
            <label class="col-sm-2 col-form-label">Language:</label>
            <!-- <input name="LanguageId" formControlName="LanguageId"
              class="form-control" placeholder="LanguageId" required> -->
      
            <select class="form-control col-sm-2" formControlName="LanguageId">
              <option *ngFor="let language of this.languages" [value]="language.Id" [selected]="language.IsDefault == true">{{language.Name}}</option>
            </select>
          </div>
        </div>
      
        <div class="inline">
      
          <div class="form-group cancel">
            <a class="btn btn-success" [routerLink]="['/category']">
              <i class="fas fa-minus-circle"></i> Cancel</a>
          </div>
      
          <div class="form-group submit">
            <button class="btn btn-success" type="submit" [disabled]='!createdForm.valid'>
              <i class="fas fa-database"></i> Submit</button>
          </div>
        </div>
      
      </form>
    </div>
  </div>