<div class="menu">
    <ul>

        <li>
            <a href="/HomeClient" target="Home">Home</a>

        </li>
        <li>
            <a href="/About" target="About">About</a>

        </li>

        <div class="clear"></div>
    </ul>
</div>